@font-face {
    font-family: "AleksandraC";
    src: url("../fonts/AleksandraC_regular.eot?") format("eot"),
         url("../fonts/AleksandraC_regular.woff") format("woff"),
         url("../fonts/AleksandraC_regular.ttf") format("truetype"),
         url("../fonts/AleksandraC_regular.svg#Untitled") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('../fonts/anonymous_pro.eot');
    src: url('../fonts/anonymous_pro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/anonymous_pro.woff') format('woff'),
         url('../fonts/anonymous_pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-r.eot'),
         url('../fonts/ubuntu-r.woff') format('woff'),
         url('../fonts/ubuntu-r.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Condensed';
    src: url('../fonts/ubuntu-c.eot'),
         url('../fonts/ubuntu-c.woff') format('woff'),
         url('../fonts/ubuntu-c.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/ubuntumono-r.eot'),
         url('../fonts/ubuntumono-r.woff') format('woff'),
         url('../fonts/ubuntumono-r.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Global elements */

*{}
html{}
body{
    background-color: #333333;
    font-family: AleksandraC, 'Ubuntu Condensed', 'Ubuntu', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
}

a{
    color: #FF6600;
    text-decoration: underline;
}
a:hover{
    color: #FFA468;
    text-decoration: none;
}
