/*GRID*/
*{margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11{display:inline; float:left; margin:0 0 0 1.0416666666667%; list-style:none;}.first{margin-left:0; clear:left;}.full,.grid,.grid-12{display:block; width:100%; clear:both;}.clear_line{clear: both; width: 100%; height: 1px; margin-top: -1px;}.clear:before, .clear:after{content: " "; display: table;}.clear:after {clear: both;}.clear {*zoom: 1;}.grid-1:first-child,.grid-2:first-child,.grid-3:first-child,.grid-4:first-child,.grid-5:first-child,.grid-6:first-child,.grid-7:first-child,.grid-8:first-child,.grid-9:first-child,.grid-10:first-child,.grid-11:first-child{margin-left:0;}.grid-1{width:7.3784722222222%;}.grid-2{width:15.798611111111%;}.grid-3{width:24.21875%;}.grid-4{width:32.638888888889%;}.grid-5{width:41.059027777778%;}.grid-6{width:49.479166666667%;}.grid-7{width:57.899305555556%;}.grid-8{width:66.319444444444%;}.grid-9{width:74.739583333333%;}.grid-10{width:83.159722222222%;}.grid-11{width:91.579861111111%;}.hidden{visibility: hidden;}.txt_l{text-align: left;}.txt_r{text-align: right;}.txt_c{text-align: center;}.mg_t{margin-top: 0;}.mg_b{margin-bottom: 0;}.mg_l{margin-left: 0;}.mg_r{margin-right: 0;}


/** COMMON
********************************************************** */


*{}
html{}
body{
    background-color: #333333;
    color: palegreen;
    font-family: 'Ubuntu Condensed', 'Ubuntu', sans-serif;
    font-size: 12px;
}

a{
    color: #FF6600;
    text-decoration: underline;
}
a:hover{
    color: #FFA468;
    text-decoration: none;
}

h1{
    padding: 10px 0 8px;
}
h2{
    padding: 8px 0 6px;
}
h3{
    padding: 6px 0 3px;
}
h4{
    padding: 4px 0 2px;
}
h5{

}
p{
    text-indent: 15px;
    line-height: 20px;
    padding-bottom: 10px;
}

blockquote{
    border-left: 2px double #979A9D;
    margin-left: 20px;
    padding: 5px 0 5px 10px;
    font-style: italic;
    color: #3B3E41;
    font-family: 'AleksandraC', Consolas, Arial;
}

ol,ul{
    margin: 10px 0 10px 25px;
}
ol li, ul li{
    line-height: 18px;
}

img{
    border-color: transparent;
}

hr{
    border: none;
    width: 100%;
    height: 2px;
    background-color: #FE7F00;
    margin: 10px 0;
}

.box{
    background: #282828;
    border: 1px solid #797979;
    padding: 4px;
    font-size: 12px;
    box-shadow: 0 0 6px #111111;
}
input[type=text], input[type=password], select, textarea{
    border: 1px solid #797979;
    background-color: #111111;
    color: #FFF;
    padding: 0 5px;
}
input[type=text], input[type=password]:focus, select:focus, textarea:focus{
    outline: none;
}

/** HEADER */


.page{
    width: 960px;
    margin: 0 auto;
}

.header{
    margin-top: 5px;
    min-height: 30px;
}

.cat_menu{
    margin-top: 5px;
    /*padding: 12px 4px 5px;*/
    padding: 6px 6px 6px;
}

.content_box{
    margin-top: 5px;
}

.content_left{
    min-height: 300px;
}

.content_right{
    min-height: 300px;
}

.footer{
    margin-top: 5px;
    min-height: 30px;
    font-size: 11px;
    text-align: center;
}

/* HEADER */
.header h1{
    padding: 2px 0 0;
    font-size: 24px;
    line-height: 24px;
}
input[name=search]{
    border: 1px solid palegreen;
    background-color: #111111;
    color: #FFF;
    padding: 0 5px;
    width: 80%;
}
.search{
    background-color: #181818;
}
input[name=search]:focus{
    outline: none;
    border: 1px solid #FE7F00;
}
.box_menu{

}
.box_menu a, .simple_btn{
    text-decoration: none;
    display: inline-block;
    margin-right: 3px;
    padding: 2px 10px;
    min-width: 35px;
    border: 1px solid #181818;
    background: linear-gradient(to bottom, #313131 0%,#1e1e1e 100%);
    box-shadow: 0 0 4px #111111;
    color: #E1E1E1;
    text-shadow: 1px -1px rgba(0,0,0,0.5);
    font-size: 11px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.box_menu a:hover, .simple_btn:hover{
    color: #FFFFFF;
}

.box_menu a:active, .simple_btn:active{
    box-shadow: inset 0 6px 12px rgba(0,0,0,0.8);
    color: #999999;
    text-shadow: -1px -1px rgba(50,50,50,0.8);
}
input[type=submit].simple_btn{
    display: inline;
    margin-bottom: 0;
    width: inherit;
    vertical-align: baseline;
}




/** login form */
.right_box{
    text-align: right;
}
.right_title{
    line-height: 22px;
}
.login_box{
    display: none;
    position: absolute;
    width: 160px;
    margin-left: 66px;
    margin-top: 8px;
    box-shadow: 2px 2px 6px 3px rgba(0,0,0,0.4);
}
.login_box input{

    width: 100%;
    margin-bottom: 3px;
}



/** Category Menu */
.cat_menu ul{
    list-style: none;
    padding: 0; margin: 0;
}

.cat_menu ul li{
    display: inline-block;
    line-height: 14px;
}

.cat_menu ul li a{
    display: block;
    margin-right: 10px;
    padding: 2px 10px;
    min-width: 35px;
    border: 1px solid #181818;
    background: linear-gradient(to bottom, #313131 0%,#1e1e1e 100%);
    box-shadow: 0 0 4px #111111;
    color: #E1E1E1;
    text-decoration: none;
    text-shadow: 1px -1px rgba(0,0,0,0.5);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cat_menu ul li a:hover{
    color: #FFFFFF;
}

.cat_menu ul li a:active{
    box-shadow: inset 0 6px 12px rgba(0,0,0,0.8);
    color: #999999;
    text-shadow: -1px -1px rgba(50,50,50,0.8);
}

.cat_menu ul li .count{
    display: none;
    position: absolute;
    margin: -10px 0 0 2px;
    padding: 0 1px;
    min-width: 10px;
    line-height: 9px;
    color: #CDCDCD;
    text-align: center;
    text-shadow: 1px -1px rgba(0,0,0,0.8);
    font-size: 8px;
}



/* -----------------------------------------------------------------------------
CONTENT
----------------------------------------------------------------------------- */

.content_left{

}
.content_left .box_menu{
    text-align: right;
    margin-bottom: 3px;
}


.content_item{
    font-family: Consolas, "Courier New", Courier, monospace;
    color: #668E96;
    padding: 3px;
    margin: 0px 0px 5px;
    border: none;
}
.content_item:hover{
    background-color: #2F2F2F;
}

.content_item hr{
    padding: 0; margin: 2px 0;
    height: 1px;
 }
.content_item p{
    text-indent: 0;
    padding: 0; margin: 0;
    line-height: 20px;
}


.content_item_title{
    text-decoration: none;
    color: #AAFFFF;
    font-weight: bold;
}
.content_item_path a{
    text-decoration: none;
    color: rgb(150, 150, 170);
}
.content_item_path a:hover{
    color: rgb(200, 200, 200);
}
.content_item_tags{
    text-align: right;
    font-size: 11px;
}
.content_item_tags a{
    text-decoration: none;
    color: #7576AA;
}
.content_item_tags a:hover{
    color: rgb(200, 200, 200);
}

.incontent_item_tags{
    text-align:left;
    font-size: 11px;
}
.incontent_item_tags a{
    text-decoration: none;
    color: #7576AA;
}
.incontent_item_tags a:hover{
    color: rgb(200, 200, 200);
}



/* -----------------------------------------------------------------------------
SNIPPET MENU LEFT
----------------------------------------------------------------------------- */

ul.left_menu {
    padding: 0;
    margin: 5px 10px;
}

ul.left_menu a {
    display: block;
    padding: 0px 5px;
    text-decoration: none;
    line-height: 12px;
}
ul.left_menu li {
    padding: 2px 0;
    margin-left: -5px;
    list-style: none;
}
ul.left_menu>li>a {
    color: #FFFFFF;
    font-weight: bold;
}
ul.left_menu>li>a:hover {
    color: #FF6600;
}

ul.left_menu li li{
    border-bottom: 1px solid #282828;
}
ul.left_menu li li:hover {
    background: #0F0F0F;
    border-radius: 3px;
    border-bottom: 1px solid #797979;
}
.activeMenu{
    background: #0F0F0F;
    border-radius: 3px;
    border-bottom: 1px solid #797979 !important;
}

ul.left_menu li li a {
    color: #d5d1ff;
}


ul.left_menu li ul {
    padding: 0;
    margin: 0 0 0 15px;
}

ul#left_ul a {
    padding-left: 6px;
}

ul#left_ul a.collapsed {
    background: url('../images/collapsed.png') left 3px no-repeat;
}

ul#left_ul a.expanded {
    background: url('../images/expanded.png') left 3px no-repeat;
}

/*EDIT*/
.edit{

}

.edit input, .edit select, .edit textarea{
    margin-bottom: 3px;
    width: 100%;
}
.edit textarea{
    min-height: 600px;
}
.edit p{
    padding: 0;
    margin: 5px 0 1px;
    text-indent: 0;
}


form.save_form{}
form.save_form input[type=submit]{
    margin-top: 10px;
    padding: 2px 25px;
}
.save_btn{
    text-align: right;
}